{% extends 'store/main.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: aliceblue; color: rgb(11, 10, 10);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <h6><a class="nav-link" aria-current="page" href="/"> HOME ></a></h6>
          </li>
          <li class="nav-item">  
            <h6><a class="nav-link active" href="/about">ABOUT</a></h6>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-3">
    <br>
    <h2 class="text-center">ABOUT US</h2>
    <br>
    <div class="row container" style="text-align: justify;">
        
            ONLINE SHOPPING MADE EASY AT OLIVEYOUNG
            <br><br>
            If you would like to experience the best of online shopping for men and women in India, you are at the right place. OliveYoung is the ultimate destination for beauty and skincare, being host to a wide array of products including skincare and cosmetics, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at OliveYoung from the comfort of your home and get your favourites delivered right to your doorstep.
            <br><br>
            BEST ONLINE SHOPPING SITE IN INDIA FOR SKIN and BEAUTY
            <br><br>
            Be it skin or body or hair  OliveYoung offers you the ideal combination of products and functionality for men and women
            Best men’s skincare and cosmetics - At OliveYoung you will find myriad options in best facewash, moistrizer, suncreens and lotions, or foundations and powdersfor men. 
            Trendy women’s skincare and cosmetics - Online shopping for women at OliveYoung is a mood-elevating experience. 
            Beauty begins here - You can also refresh, rejuvenate and reveal beautiful skin with personal care, beauty and grooming products from OliveYoung. Our soaps, shower gels, skin care creams, lotions and other ayurvedic products are specially formulated to reduce the effect of aging and offer the ideal cleansing experience. Keep your scalp clean and your hair uber-stylish with shampoos and hair care products. Choose makeup to enhance your natural beauty.
            OliveYoung is one of the best online shopping sites in India which could help transform your living spaces completely. Add colour and personality to your bedrooms with bed linen and curtains. Use Best tableware to impress your guest. Wall decor, clocks, photo frames and artificial plants are sure to breathe life into any corner of your home.</p>
            <br><br>
    </div>
</div>

{%endblock%}