{%extends 'store/main.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: aliceblue; color: rgb(11, 10, 10);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <h6><a class="nav-link" aria-current="page" href="/"> HOME ></a></h6>
          </li>
          <li class="nav-item">  
            <h6><a class="nav-link active" href="/myorders">MYORDERS</a></h6>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <table class="table table-bordered">

                        <thead>
                            <tr class="text-center">
                                <th>Tracking Id</th>
                                <th>Order Date</th> 
                                <th>Order Total</th>
                                <th>Payment Mode</th>
                                <th>Payment Id</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}

                            <tr class="text-center">
                                
                                <td>{{item.trackingid}}</td>
                                <td>{{item.created_on}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.paymentmode}}</td>
                                <td>{{item.paymentid}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <a href="vieworder/{{item.trackingid}}" class="btn btn-outline-secondary">View Details</a>
                                </td>
                            </tr> 
                                
                            {% endfor %}
                        </tbody>
                        

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
  
  {% endblock %}
  