{% extends 'store/main.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: aliceblue; color: rgb(11, 10, 10);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <h6><a class="nav-link" aria-current="page" href="/"> HOME ></a></h6>
          </li>
          <li class="nav-item">  
            <h6><a class="nav-link active" href="/signup">REGISTER</a></h6>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div>
                <div class="card mt-3 shadow">
                    <div class="card-body">

                        <form class="my-4" action="" method="post">

                            {% csrf_token %}

                            <div class="text-center">
                                <h4>LOGIN or REGISTER</h4>
                                <hr>
                            </div>
                    
                            <div class="form-group">
                                <label for="name"> Username </label>
                                {{form.username}}
                                {% if form.errors.username %}
                                <span class="text-danger">{{form.errors.username}}</span>
                                {% endif %}
                            </div>
                    
                            <div class="form-group">
                                <label for="name">Email</label>
                                {{form.email}}
                                {% if form.errors.email %}
                                <span class="text-danger">{{form.errors.email}}</span>
                                {% endif %}
                            </div>
                    
                            <div class="form-group">
                                <label for="name"> Password </label>
                                {{form.password1}}
                                {% if form.errors.password1 %}
                                <span class="text-danger">{{form.errors.password1}}</span>
                                {% endif %}
                            </div>
                            
                            <div class="form-group">
                                <label for="desc"> Confirm Password</label>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                <span class="text-danger">{{form.errors.password2}}</span>
                                {% endif %}
                            </div>
                            
                            <br>

                            <div class="d-grid gap-2">
                            <button type="submit" class="btn float-right shadow btn-dark px-4 fw-bold"> REGISTER </button>
                            </div>

                            <br><hr>

                            <div class="text-center fw-bold">
                                <small>Exising User ? <a href="/userlogin" class="text-primary">Login Here</a></small>
                            </div>

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="alert alert-danger my-3">{{error}}</p>
                                {% endfor%}
                            {% endif %}

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}