{% extends 'store/main.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: aliceblue; color: rgb(11, 10, 10);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <h6><a class="nav-link" aria-current="page" href="/"> HOME ></a></h6>
          </li>
          <li class="nav-item">  
            <h6><a class="nav-link active" href="/viewcart">CART</a></h6>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% if cartitems %}

<div class="container mt-3">
        <div class="row cartitems mt-2">
            
            <div class="col-md-8 ">  
              {% for item in cartitems %}
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row pdata">
                            <div class="col-md-4">
                                <a href="/viewproduct/{{item.product.id}}"> <img src="/media/{{item.product.image}}" height="200px" width="200px" alt="image"></a>
                            </div>

                            <div class="col-md-8">                             
                                <h6>{{item.product.name}}</h6>
                                <input type="hidden" class="pid" value="{{item.product_id}}">

                                {% csrf_token %}

                                 {% if item.product.quantity >= item.quantity %}

                            <br>

                            <div class="input-group text-center me-3" style="width:130px">
                                <button class="input-group-text changeqty decrement-btn">-</button>
                                <input type="text" name="qty" class="form-control text-center qty " value="{{item.quantity}}">
                                <button class="input-group-text changeqty increment-btn">+</button>
                            </div>

                            {%else%}

                            <br>

                            <h6 style="color: red;">Out of Stock</h6>

                            {%endif%}

                            <br>

                            <label class="fw-bold me-3 price">Rs. {% widthratio item.quantity 1 item.product.selling_price|stringformat:'d' %}</label>
                            <label><s>Rs. {% widthratio item.quantity 1 item.product.original_price|stringformat:'d' %}</label></s>
                            
                            <br>
                            <br>

                            <button class="btn btn-outline-dark delete-cartitem fw-bold">Remove</button>
                            <button class="btn btn-outline-dark wishlist fw-bold">Move To Wishlist</button>
                            
                        </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
            
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                  
                        <h5> PRICE DETAILS </h5>
                        <hr>
                        <label >Items Total</label> <span class="float-end">Rs. {{totalamount|stringformat:'d'}}</span>
                        <br>
                        <label class="mt-2">Shipping Charges </label><span class="float-end text-center mt-2 ">Rs. 40</span>
                        <hr>
                        <h6>Total Amount<span class="float-end text-center">Rs.{{total|stringformat:'d'}}</span></h6>
                        <hr>
                    
                        <div class="d-grid gap-2">
                            <a href="/checkout" class="btn btn-dark shadow px-4 fw-bold"> Checkout</a>
                        </div>    
                    </div>
                </div>
            </div>
        
</div>


{%else%}
<br>
<br>
<div class="container my-4">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div>
              <div class="card mt-3 shadow">
                  <div class="card-body ">


                      <h4>Your Cart is Empty..!</h4>
                      <a href="/"> Go Back </a>  

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<br><br><br><br><br><br><br>

{%endif%}

</div>
<br><br><br><br>

{% endblock %}
